body {
    background-color: #FFECE5;
    margin: 12rem;
  }
  
p {
    font-family: 'Zilla Slab', serif;
    font-weight: 400;
    font-size: 40px;
    text-align: left;
  }


  a {
      text-decoration: none;
      color: inherit;
      font-family: 'Zilla Slab', serif;
      font-weight: 500;
      font-size: 40px; 
    
  }

a:hover {
    color: #f65b5b;
}
 
  .navigate {
    text-align: center;
    margin-top: 13rem;
    margin-bottom: 13rem;
  }
 


  .beginning {
    font-family: Zilla Slab;
    font-style: italic;
    font-weight: 600;
    font-size: 43px;
  }
  .beginning:hover {
      font-size: 50px;
      cursor: pointer;
  }
  
  
/* button */


  .button {
    font-family: Zilla Slab;
    font-weight: 600;
    font-size: 43px;
    display: inline-block;
    position: relative;
    margin: 0em;
    padding: 0.1em;
    padding-top: 0.67em;

    border: transparent;
    overflow: hidden;
    text-decoration: none;

    outline: none;
    color: rgb(0, 0, 0);
    background: transparent;
}

.button span {
    -webkit-transition: 0.6s;
    -moz-transition: 0.6s;
    -o-transition: 0.6s;
    transition: 0.6s;
    -webkit-transition-delay: 0.2s;
    -moz-transition-delay: 0.2s;
    -o-transition-delay: 0.2s;
    transition-delay: 0.2s;
}

.button:before,
.button:after {
    content: '';
    position: absolute;
    top: 0.67em;
    left: 0;
    width: 100%;
    text-align: center;
    opacity: 0;
    -webkit-transition: .4s,opacity .6s;
    -moz-transition: .4s,opacity .6s;
    -o-transition: .4s,opacity .6s;
    transition: .4s,opacity .6s;
}

/* :before */

.button:before {
    content: attr(data-hover);
    -webkit-transform: translate(-150%,0);
    -moz-transform: translate(-150%,0);
    -ms-transform: translate(-150%,0);
    -o-transform: translate(-150%,0);
    transform: translate(-150%,0);
}

/* :after */

.button:after {
    content: attr(data-active);
    -webkit-transform: translate(150%,0);
    -moz-transform: translate(150%,0);
    -ms-transform: translate(150%,0);
    -o-transform: translate(150%,0);
    transform: translate(150%,0);
}

/* Span on :hover and :active */

.button:hover span,
.button:active span {
    opacity: 0;
    -webkit-transform: scale(0.3);
    -moz-transform: scale(0.3);
    -ms-transform: scale(0.3);
    -o-transform: scale(0.3);
    transform: scale(0.3);
}

/*  
    We show :before pseudo-element on :hover 
    and :after pseudo-element on :active 
*/

.button:hover:before,
.button:active:after {
    opacity: 1;
    -webkit-transform: translate(0,0);
    -moz-transform: translate(0,0);
    -ms-transform: translate(0,0);
    -o-transform: translate(0,0);
    transform: translate(0,0);
    -webkit-transition-delay: .4s;
    -moz-transition-delay: .4s;
    -o-transition-delay: .4s;
    transition-delay: .4s;
}

/* 
  We hide :before pseudo-element on :active
*/

.button:active:before {
    -webkit-transform: translate(-150%,0);
    -moz-transform: translate(-150%,0);
    -ms-transform: translate(-150%,0);
    -o-transform: translate(-150%,0);
    transform: translate(-150%,0);
    -webkit-transition-delay: 0s;
    -moz-transition-delay: 0s;
    -o-transition-delay: 0s;
    transition-delay: 0s;
}

/* tablet */
@media only screen and (max-width: 66rem) {
    body {
        background-color: #FFECE5;
        margin: 8rem;
      }
      
    p {
        font-weight: 400;
        font-size: 30px;
        text-align: left;
      }
    
    
      a {
          font-size: 24px; 
        
      }

      .beginning {
        font-size: 33px;
      }
      .beginning:hover {
          font-size: 40px;
      }
      
      
    /* button */
    
    
      .button {
        font-size: 38px;
        margin: 0em;
        padding: 0.1em;
        padding-top: 0.67em;
    }
}

/* mobile */
@media only screen and (max-width: 50rem) {
    body {
        background-color: #FFECE5;
        margin: 3.5rem;
      }
      
    p {
        font-weight: 400;
        font-size: 13px;
        text-align: left;
      }
    
    
      a {
          font-size: 7px; 
        
      }

      .beginning {
        font-size: 16px;
      }
      .beginning:hover {
          font-size: 18px;
      }
      
      .navigate {
        text-align: left;
        margin-top: 5rem;
        margin-bottom: 5rem;
        
      }
      
    /* button */
    
    
      .button {
        font-size: 21px;
        margin: 0em;
        padding: 0.1em;
        padding-top: 0.67em;
    }
}